{{ define "header" }}{{ partial "page-header" . }}{{ end }}
{{ define "main" }}
  <div class="pa3 pa4-m pa4-l">
    <h1>
      {{ .Title }}
    </h1>
  </div>
  <div class="pa3 pa4-ns w-100 v-top column-count-3-l column-gap-1-l">
      {{ range $key, $value := .Data.Terms }}
        <div class="break-inside-avoid-l nested-copy-line-height mb5">
          <h2 class="f3">
            <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link black hover-blue">
              {{ $key }} <span class="f6 gray"> &#8599;</span>
            </a>
          </h2>
          {{ range $value.Pages }}
            <h3>
              <a href="{{ .Permalink }}" class="link blue">
                {{ .Title }}
              </a>
            </h3>
          {{ end }}
        </div>

      {{ end }}

  </div>
{{ end }}
