
@media (min-width: 75em) {
  .sticky {
    position: static;
  }
  [data-scrolldir="down"] .sticky {
    position: fixed;
    top:300px;
    right:0;
  }

  [data-scrolldir="up"] .sticky {
    position: fixed;
    top:300px;
    right:0;
  }
}
