:root {
  --sidebar-width: 18%;

  --primary-color:        #33ba91;
  --primary-color-dark:   #0A1922;
  --primary-color-light:  #f9f9f9;
  --accent-color:         #EBB951;
  --accent-color-light:   #FF4088;
  --accent-color-dark:    #0594CB;
  --text-color-primary:   #373737;
  --text-on-primary-color: #fff;
  --text-color-secondary: #ccc;
  --text-color-disabled:  #F7f7f7;
  --divider-color:        #f6f6f6;
  --warn-color: red;
}
