/*Base Styles*/
@import '_tachyons';

/*type*/
@import 'font/_muli-200';
@import 'font/_muli-400';
@import 'font/_muli-800';

@import '_animation';
@import '_documentation-styles';

@import '_algolia';
@import '_code';
@import '_color-scheme';
@import '_font-family';
@import '_hugo-internal-template-styling';
@import '_social-icons';
@import '_svg';
@import '_variables';

.nested-blockquote blockquote {
  border-left: 4px solid var(--primary-color);
  padding-left: 1em;
  /*margin: 0;*/
}
